<div data-resource-type="show">
  <h3><%= @title %></h3>

  <.form let={f} for={@changeset} id="show-form" as="show" phx-target={@myself} phx-change="validate" phx-submit="save">
    <%= select(f, :venue_id, Enum.map(@venues, &{&1.name, &1.id})) %>
    <%= datetime_select(f, :start_at) %>

    <.submit_button label="Save" phx_disable_with="Saving..." />
  </.form>
</div>
